import React, { useEffect, useState } from 'react';
import { useDispatch, useSelector } from 'react-redux'

const {{pascalCase name}}Container = () => {
   const dispatch = useDispatch()

   useEffect(() => {
    //some function get from API
    //ex dispatch(get{{pascalCase name}}())
  }, [])

   return (
      <div>
         
      </div>
   );
}

export default {{pascalCase name}}Container;